{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lenguas Extranjeras{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    {% block extra_css %}
    {% endblock %}
</head>

<body>

<header class="topbar">

    <h2>LENGUAS EXTRANJERAS</h2>

    <div class="user-section">

        <img src="{% static 'img/user.png' %}" alt="Usuario">

        <div>
            <p>Sesión iniciada con:</p>
            <span>Usuario 1</span>
        </div>

        <i class="fa-solid fa-right-from-bracket logout-icon"></i>

    </div>

</header>

<div class="main-container">

    <aside class="sidebar">

        <img src="{% static 'img/logo_ut.png' %}"
             class="logo"
             alt="Logo">

        <nav>

            <a href="{% url 'inicio' %}">
                <i class="fa-solid fa-house"></i>
                Inicio
            </a>

            <a href="{% url 'alumnos' %}">
                <i class="fa-solid fa-user-graduate"></i>
                Consultar Alumnos
            </a>

            <a href="{% url 'agregar' %}">
                <i class="fa-solid fa-circle-info"></i>
                Registrar Alumno
            </a>

            <a href="/importar-excel/">
                <i class="fa-solid fa-file-excel"></i>
                Importar Excel
            </a>

            <a href="{% url 'subir' %}">
                <i class="fa-solid fa-file-arrow-up"></i>
                Subir Documentos
            </a>

        </nav>

    </aside>

    <main class="content">

{% if messages %}
    {% for message in messages %}
        <div class="mensaje {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

        {% block content %}
        {% endblock %}

    </main>

</div>

</body>

</html>