{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inicio</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

    <!-- TOPBAR -->
    <header class="topbar">

        <h2>LENGUAS EXTRANJERAS</h2>

        <div class="user-section">

            <img src="{% static 'img/user.png' %}" alt="Usuario">

            <div>
                <p>Sesión iniciada con:</p>
                <span>Usuario 1</span>
            </div>

            <i class="fa-solid fa-right-from-bracket logout-icon"></i>

        </div>

    </header>

    <!-- CONTENEDOR -->
    <div class="main-container">

        <!-- SIDEBAR -->
        <aside class="sidebar">

            <img src="{% static 'img/logo_ut.png' %}" class="logo">

            <nav>

                <a href="/inicio/">
                    <i class="fa-solid fa-house"></i>
                    Inicio
                </a>

                <a href="/alumnos/">
                    <i class="fa-solid fa-user"></i>
                    Consultar Alumnos
                </a>

                <a href="/subir/">
                    <i class="fa-solid fa-users"></i>
                    Subir Calificaciones
                </a>

            </nav>

        </aside>

        <!-- CONTENIDO -->
        <main class="content">

            <div class="welcome-section">

                <h1>Bienvenido Profesor!</h1>

                <p>
                    Selecciona una opción para continuar.
                </p>

            </div>

            <div class="cards-container">

                <!-- PERFIL -->
                <a href="/agregar/" class="dashboard-card">

                    <i class="fa-solid fa-user"></i>

                    <h2>Mi Perfil</h2>

                    <p>
                        Consulta y actualiza tu información personal.
                    </p>

                </a>

                <!-- CURSO -->
                <a href="/alumnos/" class="dashboard-card">

                    <i class="fa-solid fa-file-pen"></i>

                    <h2>Curso Asignado</h2>

                    <p>
                        Consulta la lista de alumnos registrados y administra tu curso.
                    </p>

                </a>

            </div>

        </main>

    </div>

</body>

</html>