{% extends 'base.html' %}

{% load static %}

{% block title %}
Inicio
{% endblock %}

{% block content %}

<div class="welcome-section">

    <h1>Bienvenido Profesor</h1>

    <p>
        Selecciona una opción para continuar.
    </p>

</div>

<div class="cards-container">

    <a href="/agregar/" class="dashboard-card">

        <i class="fa-solid fa-user"></i>

        <h2>Mi Perfil</h2>

        <p>

            Consulta y actualiza tu información.

        </p>

    </a>

    <a href="/alumnos/" class="dashboard-card">

        <i class="fa-solid fa-users"></i>

        <h2>Alumnos</h2>

        <p>

            Consulta y administra los alumnos.

        </p>

    </a>

    <a href="/subir/" class="dashboard-card">

        <i class="fa-solid fa-file-arrow-up"></i>

        <h2>Calificaciones</h2>

        <p>

            Registrar calificaciones.

        </p>

    </a>

</div>

{% endblock %}