{% extends 'base.html' %}

{% block title %}
Cursos
{% endblock %}

{% block content %}

<h1 class="page-title">

Cursos y Certificaciones

</h1>

<div class="niveles-grid">

    <a href="/parcial/" class="nivel-card"><h2>Básico 1</h2></a>

    <a href="/parcial/" class="nivel-card"><h2>Básico 2</h2></a>

    <a href="/parcial/" class="nivel-card"><h2>Básico 3</h2></a>

    <a href="/parcial/" class="nivel-card"><h2>Intermedio 1</h2></a>

    <a href="/parcial/" class="nivel-card"><h2>Intermedio 2</h2></a>

    <a href="/parcial/" class="nivel-card"><h2>Intermedio 3</h2></a>

    <a href="/parcial/" class="nivel-card"><h2>Avanzado 1</h2></a>

    <a href="/parcial/" class="nivel-card"><h2>Avanzado 2</h2></a>

    <a href="/parcial/" class="nivel-card"><h2>Avanzado 3</h2></a>

    <a href="/parcial/" class="nivel-card"><h2>TOEFL</h2></a>

    <a href="/parcial/" class="nivel-card"><h2>TOEIC</h2></a>

</div>

{% endblock %}